@model PagedList.IPagedList<CookingTime.Web.Models.Recipe.RecipeViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Recipes";
}

@foreach (var item in Model)
{
    <div class="row bg-success text-white">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="@item.ImageUrl" alt="">
        </div>
        <div class="col-md-5">
            <h3>@item.Title</h3>
            @Html.ActionLink("Details", "Details", "Recipe", new { id = item.ID }, new { @class = "btn btn-primary" })
        </div>
    </div>

    <hr>
}

<br />

<div>
    @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
</div>
