@model PagedList.IPagedList<CookingTime.Web.Models.Recipe.RecipeViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Recipes";
}
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            @*<div class="thumbnail">*@
                <img src="@item.ImageUrl">
                <h3>@item.Title</h3>
                @Html.ActionLink("Details", "Details", "Recipe", new { id = item.ID }, new { @class = "btn btn-primary" })
            @*</div>*@
        </div>
    }
</div>


<br />

<div id="pages">
    @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
</div>
