@model IEnumerable<CookingTime.Web.Areas.Administration.Models.RecipeAdministrationViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @if (item.IsDeleted)
            {
                using (Html.BeginForm("Recover", "Administration", new { id=item.ID, area="Administration" }, FormMethod.Post))
                {
                    <input type="submit" value="Recover"/>
                }
            }
            else
            {
                using (Html.BeginForm("Delete", "Administration", new { id = item.ID, area = "Administration" }, FormMethod.Post))
                {
                    <input type="submit" value="Delete" />
                }
            }
        </td>
    </tr>
}

</table>
